<!DOCTYPE html>
<html>
<head>
    <title>My Files</title>
</head>
<body>
    <h2>My Uploaded Files</h2>
    <ul>
        {% for file in files %}
            <li><a href="{{ file.file.url }}" target="_blank">{{ file.file.name }}</a> - uploaded on {{ file.uploaded_at }}</li>
        {% empty %}
            <li>No files uploaded yet.</li>
        {% endfor %}
    </ul>
    <p><a href="{% url 'upload_file' %}">Upload New File</a></p>
    <p><a href="{% url 'dashboard' %}">Dashboard</a></p>
</body>
</html>
